<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Administrative Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Topics by category </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th> Category</th>
                    <th> Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${topicsByCategories.empty}">
                    <td colspan="2"> No data</td>
                </tr>
                <tr th:each="topicsByCategory : ${topicsByCategories}">
                    <td th:text="${topicsByCategory.category}"></td>
                    <td th:text="${topicsByCategory.quantity}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>